{% include head.html %}

<section class="article">

{% if page.image.feature %}
  <div class="overlay"></div>
  {% if page.image.feature contains 'https://' | escape or page.image.feature contains 'http://' | escape %}
  <div class="featured-image" style="background-image: url({{ page.image.feature }})"></div>
  {% if page.image.source %}
    <div class="image-source"><small>Image: {{ page.image.source }}</small></div>
  {% endif %}
  {% else %}
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
  {% endif %}
  {% if page.image.source %}
    <div class="image-source"><small>Image: {{ page.image.source }}</small></div>
  {% endif %}
{% else %}
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/hemingway-rewritten_wp_header.jpg)"></div>
{% endif %}


      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <h1>{{page.title}}</h1>
            <p class="date">{{page.date | date: "%b %d, %Y" }} {% if page.category %} -- in: <a href="{{ site.url }}/blog/{{ page.category }}"> {{ page.category }}</a> {% endif %}</p>
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
          </hgroup>
        </header>

        {{ content }}

        <div>
    <section class="archive">
      <article class="archive-wrap-home">
          <ol class="post-preview-home">
             <lh><h2><span>Latest Post</span></h2></lh>
              {% for post in site.posts | limit:1 %}
              <li>
                <div class="deets" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                    <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                    <p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }} -- in: {{ post.category }}</a></time></p>
                    <p class="">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 200 }}{% endif %}</p>
                </div>
              </li>
              {% endfor %}
          </ol>
      </article>
    </section>
</div>

      </article>



    </section>
</div>

{% include footer.html %}
